.vs/
**/.DS_Store
DAL/bin/Debug/
DAL/bin/Release/
DAL/obj/Debug/
DAL/obj/Release/
Models/bin/Debug/
Models/bin/Release/
Models/obj/Debug/
Models/obj/Release/
UI/bin/Debug/
UI/bin/Release/
UI/obj/Debug/
UI/obj/Release/
Worker/bin/Debug/
Worker/bin/Release/
Worker/obj/Debug/
Worker/obj/Release/
